@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-bg: #122939;
  --color-bg2: #0b1b26;
  --color-bg3: #15232d;
  --color-text: #9ee7ff;
  --color-text-link: #019dd1;
  --color-text2: #aaaa8e;
  --color-link: #e8e836;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* === HEADER === */

.header {
  padding: 25px 0;
  background-color: var(--color-bg);
  background: no-repeat center / cover url(/img/bg.jpg);
  background-blend-mode: multiply;
  position: relative;
}

.header__bgc {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 4, 36, 0.6);
  z-index: 0;
}

.header__inner {
  position: relative;
  padding-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.2;
  color: var(--color-text);
}

.header__department {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}

.header__institute {
  font-size: 24px;
  font-style: italic;
  text-shadow: 2px 2px 4px black;
}

.header__nasu {
  font-size: 24px;
  font-style: italic;
  text-shadow: 2px 2px 4px black;
}

/* === NAV === */

.nav {
  margin: 0 0 10px 0;
  background-color: var(--color-bg2);
  box-shadow: 1px 2px 4px black;
}

.nav--fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  transform: translate3d(0, 0, 0);

  z-index: 1000;
}

/* .nav--active {
  background-color: var(--color-bg2);
} */

.nav__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*  background-color: var(--color-bg2); */
  align-items: center;
  padding: 5px 0;

  position: relative;
}

.nav__menu {
  display: flex;
}

.nav__item {
  display: flex;
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text2);
  background-color: transparent;
  margin: 0px 10px;
  font-size: 14px;
  padding: 5px 0 2px 0;
  letter-spacing: 0.1em;
  line-height: 1.7;
  align-items: center;
  transition: all 0.2s ease-in;
}

.nav__item:first-child {
  margin-left: 0px;
}

.nav__lang .nav__item {
  margin: 0 5px;
}

.nav__item:hover {
  /* color: var(--color-link); */
  color: #88881b;
}

.nav__item.active {
  color: var(--color-link);
}

/* === NAV-TOGGLE === */
.nav-toggle {
  width: 30px;
  padding: 10px 0;
  position: absolute;
  top: 8px;
  right: 0px;

  background: none;
  border: 0;
  cursor: pointer;

  z-index: 1;

  font-size: 0;
  color: transparent;

  display: none;
}

.nav-toggle:focus {
  outline: 0;
}

.nav-toggle__item {
  width: 100%;
  height: 3px;
  background-color: var(--color-text2);
  display: block;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  transition: background 0.2s linear;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle__item::before,
.nav-toggle__item::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--color-text2);

  position: absolute;
  left: 0;
  z-index: 1;

  transition: transform 0.2s linear;
}

.nav-toggle__item::before {
  top: -8px;
}

.nav-toggle__item::after {
  bottom: -8px;
}

.nav-toggle.active .nav-toggle__item::before {
  transform-origin: left top;
  transform: rotate(45deg) translateY(-3px);
}

.nav-toggle.active .nav-toggle__item::after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translateY(3px);
}

/* === CONTENT === */

.content {
  font-size: 18px;
  color: var(--color-text2);
  letter-spacing: 0.1em;
}

.content__inner {
  padding: 0;
}

.content__inner a {
  display: block;
  color: inherit;
}

.content__inner a:hover {
  color: var(--color-link);
}

.content__descr,
.content__descr-ul {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 15px;
  text-align: justify;
}

.content__descr-ul,
.content__descr-ul li {
  padding-left: 1.5em;
  line-height: 1.3;
  margin-bottom: 0.2em;
  list-style-type: circle;
  list-style-position: outside;
}

.content__descr.subhead {
  text-transform: uppercase;
}

.content__descr.under {
  text-decoration: underline;
}

.content__descr.vidstup {
  padding-left: 20px;
}

.content__descr-span {
  display: block;
  width: 100%;
  margin-bottom: 0.6em;
  line-height: 1.4;
}

.content__descr-img {
  display: flex;
  align-items: center;
}

.content__img {
  margin: 15px 15px 0 0;
  max-width: 200px;
  object-fit: cover;
  align-items: center;
  border-radius: 10px;
}

.content__descr.first {
  margin: 15px 0 10px 0;
}

.content__site {
  padding-left: 5px;
  color: var(--color-text);
}

.content__site:hover {
  text-decoration: underline;
}

.content__title {
  display: inline-flex;
  font-size: 22px;
  /* color: var(--color-bg2); */

  font-style: italic;
  font-weight: bold;
  /*  background-color: var(--color-text2); */
  /* background-color: rgba(141, 138, 138, 0.7); */
  border: 1px solid rgba(141, 138, 138, 0.7);
  padding: 5px 15px;
  border-radius: 5px;
  margin: 20px 0 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.content__projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0;
  justify-content: space-between;
  margin-bottom: 15px;
}

.content__projects-item {
  position: relative;
  width: 32%;
  min-height: 250px;
  border-radius: 8px;
  padding: 10px 15px;
  border: 1px solid var(--color-text);
  margin: 35px 0 10px 0;
}

.content__projects-item-img {
  display: flex;
  position: absolute;
  border-radius: 10px;
  top: -30px;
  left: 10px;
  height: 180px;
  width: 140px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg);
  border: 1px solid var(--color-text);
  z-index: 10;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

.content__projects-item img {
  object-fit: cover;
  max-height: 180px;
  max-width: 140px;
}

.content__projects-item-img:hover {
  background-color: var(--color-bg3);
}

.content__projects-item-title {
  margin-left: 140px;
  min-height: 155px;
  padding-top: 15px;
  color: var(--color-text);
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
}

.content__projects-link .content__projects-item-title:hover {
  color: var(--color-text-link);
  text-shadow: 2px 2px 4px black;
}

.content__projects-item-descr {
  font-size: 14px;
  line-height: 1.2;
}

/* === FOOTER === */
.footer {
  margin-top: 25px;
  background-color: var(--color-bg2);
  /*box-shadow: 1px -2px 4px black;*/
  border-top: 1px solid #808000;
}

.footer__inner {
  display: flex;
  min-height: 50px;
  justify-content: space-around;
  font-size: 12px;
  align-items: center;
  letter-spacing: 0.1em;
  line-height: 1.2;
}

.footer__copyright {
  width: 75%;
  text-align: left;
}

.footer__developer {
  width: 15%;
  text-align: center;
}

/* === WBS === */

.content__wbs {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 40vmax;
  line-height: 2;
  font-size: 36px;
  color: var(--color-link);
  flex-wrap: wrap;
}

.wbs {
  text-align: center;
  margin-bottom: 20px;
}

/*=== MEDIA === */

@media (max-width: 1100px) {
  .header__department {
    font-size: 32px;
  }

  .header__institute {
    font-size: 20px;
  }

  .header__nasu {
    font-size: 20px;
  }

  .nav__item {
    font-size: 12px;
    margin: 0px 7px;
  }

  .content__projects-item-title {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .header__department {
    font-size: 28px;
  }

  .header__institute {
    font-size: 18px;
  }

  .header__nasu {
    font-size: 18px;
  }

  .content__title {
    font-size: 18px;
  }

  .content__descr {
    font-size: 14px;
  }

  .content__projects-item {
    width: 49%;
  }
}

@media (max-width: 800px) {
  .header__department {
    font-size: 24px;
  }

  .header__institute {
    font-size: 16px;
  }

  .header__nasu {
    font-size: 16px;
  }

  .nav__menu-hidden {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-bg2);
    flex-direction: column;
  }

  .nav__menu-active {
    display: flex;
  }

  .nav__menu-hidden .nav__item {
    margin: 0;
    padding: 8px 20px;
  }

  .nav__inner {
    justify-content: end;
  }

  .nav__lang {
    margin-right: 45px;
  }

  .nav-toggle {
    display: block;
  }

  .content__projects-item {
    width: 100%;
  }

  .content__wbs {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .header__department {
    font-size: 18px;
  }

  .header__institute {
    font-size: 12px;
  }

  .header__nasu {
    font-size: 12px;
  }

  .content__title {
    font-size: 16px;
  }

  .content__descr {
    font-size: 12px;
    text-align: left;
  }
}
